{% extends "base.html" %}

{% block main %}
{% if validlink %}
<div class="span12">
  <div class="well">
    <h1>Enter New Password</h1>
    Please enter your new password twice so we can verify you typed it in correctly.
    
  </div>
</div>
{% else %}
<div class="span12">
  <div class="well">
    <h1>Password Reset Unsuccessful</h1>
    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.

  </div>
</div>
{% endif %}

{% if validlink %}
<div class="span12">
  <div class="well">
    <form action method="POST" class="form-inline">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" value="Change my Password">
    </form>
  </div>
</div>
{% endif %}

{% endblock main %}

